html {
	background-color: #F3F5F6;
	color: #000;
  font-family: helvetica, arial, sans-serif;
}
nav {
  background-color: rgba(21, 21, 23, 0.95);
  border-bottom: 1px solid #000;
	/*position: fixed;*/
	/*top: 0px;*/
	/*left: 0px;*/
	/*z-index: 1000;*/
	height: 50px;
	width: 100%;
	margin: auto;
	padding: 0px;
}
.nav-inner-wrapper {
	max-width: 64rem;
    width: 410px;
    margin: 0 auto;
}
.nav-link {
	display: inline-block;
	height: 50px;
	margin: 0px;
	padding: 16px 17px 0px 18px;
	font-weight: normal;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
}
.main-slides {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.slide {
	box-shadow: 0px 2px 2px #E9EBEC;
	margin-bottom: 50px;
}
.slideshow-iframe {
	width: 100%;
	height: 100%;
	height: 560px;
	border: none;
	background-color: #FFF;
}
.sub-slideshow {
	background-color: #FFF;
	padding: 10px;
}
.sub-slideshow a {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	padding: 0;
	margin-right: 20px;
	font-weight: bold;
}
.sub-slideshow h1 {
	color: #666;
	font-weight: normal;
	margin-top: 0;
}
.sub-slideshow a {
	color: #000;
}
.embed-pane.hidden {
	display: none;
}
.embed-pane input {
	width: 100%;
	margin: auto;
	display: block;
	border-color: #CCC;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	padding: 7px;
}
.demo {
    width: 100%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}
