---
---

@import "{{ site.theme }}";

$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.site-header {
    text-align: center;
    color: #202020;
}

.page-header {
    background-color: #f0f0f0;
    background-image: url('https://ferrants.github.io/weddingwebsite/assets/img/pic_jackson.jpg');
    //https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/18010713_603813913161450_4560625280715357840_n.jpg?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=8b1defcb941f7f6ee57ef95ff57112b5&oe=5C784311
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px
}

.project-name {
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.project-tagline {
    font-size: 2.0rem;
    font-weight: bold;
    opacity: 1.0;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #5a5a5a;
}
