---
---

@import "{{ site.theme }}";


.page-header {
    padding: 3rem 6rem 8rem;
    text-align: center;
    background-color: #159957;
    background-image: url('https://ferrants.github.io/weddingwebsite/assets/img/pic_jackson.jpg');
    //https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/18010713_603813913161450_4560625280715357840_n.jpg?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=8b1defcb941f7f6ee57ef95ff57112b5&oe=5C784311
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.project-name {
    font-size: 4rem;
}

.project-tagline {
    font-size: 1.25rem;
}
