<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      {% include head.html %}
  </head>
  <body>
    <div class="site-header">
        <h1 class="project-name">Thompson-Ferrante Wedding</h1>
        <h2 class="project-tagline">August 10th, 2019 at Snowbird</h2>
    </div>
    <header class="page-header" role="banner">
    </header>

    {% include nav.html %}

    <main id="content" class="main-content" role="main">
      <div class="countdown" id="countdown"></div>
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits" id="bottom-quote">This site was created by Matt Ferrante.</span>
      </footer>
    </main>
  </body>
</html>
